body{
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 1000ms;
}

/*navbar css start*/

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0%;
    left: 0%;
    height: 85px;
    width: 100%;
    background-color: #e0ffc0;
    margin: 0;
}

.navbar-item, .contact{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #253e22;
    transition: 500ms;
}

.contact a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #91f78b;
    border: solid #253e22 1px;
    border-radius: 40px;
    height: 40px;
    padding: 0 20px 0 20px;
    transition: 500ms ease-in-out;
}

.logo{
    padding-right: 100px;
}

.logo img{
    height: 90%;
    width: 90%;
    border-radius: 100px;
}

.logo h3{
    padding-left: 10px;
}

.hidden-mobile{
    display: inline-flex;
    height: 100%;
}

.icon{
    text-decoration: none;
    color: #253e22;
    transform: scale(2.5);
    display: inline-flex;
    align-items: center;
    display: block;
}

.active-page{
    background-color: #bdf0ba;
}

.navbar-item:not(.logo):hover{
    background-color: #bdf0ba;
}

.contact a:hover{
    box-shadow: 5px 5px lightblue;
    background-color: #e0ffc0;
}

.hamburger{
    display: none;
}

.hamburger-container{
    display: inline-block;
    cursor: pointer;
}

.hamburger-container div{
    height: 5px;
    width: 40px;
    background-color: #253e22;
    opacity: 0.8;
    margin: 6px 0;
    transition: 200ms;
}

.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -11px)  rotate(45deg);
}

@media screen and (max-width: 800px) {
    .hidden-mobile{display: none;}
    .hamburger{
        display: flex;
        align-items: center;
        right: 10px;
    }
    .show-mobile{
        transition: 1000ms;
        position: relative;
        opacity: 1;
        background-color: #e0ffc0;
        right: 0;
    }
    .show-mobile.navbar-item, .show-mobile.contact{
        display: block;
    }
}