body{
    height: 100%;
    width: 100%;
}

/*navbar css start*/

.navbar{
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    height: 85px;
    width: 100%;
    background-color: #e0ffc0;
    justify-content: center;
    margin: 0;
}

.navbar-item, .contact{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #253e22;
    transition: 500ms;
}

.contact a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #91f78b;
    border: solid #253e22 1px;
    border-radius: 40px;
    height: 40px;
    padding: 0 20px 0 20px;
    transition: 500ms ease-in-out;
}

.logo{
    padding-right: 200px;
}

.logo img{
    height: 90%;
    width: 90%;
    border-radius: 100px;
}

.hidden-mobile{
    display: inline-flex;
    height: 100%;
}

.icon{
    display: none;
}

.active-page{
    background-color: #bdf0ba;
}

.navbar-item:not(.logo):hover{
    background-color: #bdf0ba;
}

.contact a:hover{
    box-shadow: 5px 5px lightblue;
    background-color: #e0ffc0;
}

@media screen and (max-width: 800px) {
    
}