body{
    height: 100%;
    width: 100%;
}

/*navbar css start*/

.navbar{
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    height: 85px;
    width: 100%;
    background-color: #e0ffc0;
}

.navbar-container{
    list-style: none;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.navbar-item a, .icon{
    margin: 8px;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #253e22;
}

.hidden-mobile{
    display: inline-flex;
    height: 100%;
}

.icon{
    display: none;
}

.active-page{
    background-color: #bdf0ba;
}

.page:hover{
    transition: 500ms;
    background-color: #bdf0ba;
}

@media screen and (max-width: 800px) {
    .hidden-mobile { display: none; }
    .icon {
        float: right;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 0;
    }
    .responsive {
        display: block;
    }
    .responsive .navbar-item {
        display: block;
        text-align: center;
    }
}